body {
  font-family: Georgia, serif;
  margin: 2px;
  padding: 4px;
  background: #451313;
}

header {
  background: #043959;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  max-width: 700px;
  margin: 29px auto;
  background: white;
  padding: 19px;
  border-radius: 18px;
  box-shadow: 0 8px 9px rgba(0,0,0,0.7);
}

h2 {
  color: #211600;
}

.comment-form {
  margin-bottom: 27px;
}

.comment-form input,
.comment-form textarea,
.comment-form button {
  width: 70%;
  margin: 7px 3px;
  padding: 17px;
  border-radius: 5px;
  border: 6px solid #f5e6ab;
}

.comment-form button {
  background: #3c434a;
  color: white;
  border: 2px solid #3c434a;
  cursor: pointer;
}

.comment-form button:hover {
  background: #8c8f94;
}

.comment-form .btn-delete {
  background: darkred;
}

.comment-form .btn-delete:hover {
  background: red;
}

.comment {
  border-bottom: 3px solid #ddd;
  padding: 13px 4px;
}

.comment img {
  max-width: 100px;
  display: block;
  margin-top: 12px;
  border-radius: 8px;
}

/* si usas <small> o <span class="date"> dentro del comentario */
.comment small {
  color: green;
}
